.hero {
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-flower-images {
    width: 100%;
    height: 387px;
    object-fit: cover;
    vertical-align: top;
}

.hero-main_title {
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP';
    font-size: 16px;
    margin: 0 auto;
    letter-spacing: 0.45em;
    padding: 72px 0 48px 0;
}

.hero-main-flower_title {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-size: 24px;
}

.section-Flower_weapper {
    margin: 0 39px 72px 39px;
}

.section-flower_commentary {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-size: 14px;
    margin: 0 auto;
    line-height: 2;
}

.group {
    margin: 30px 0 0 0;
}

.group_title {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid rgba(229, 145, 122, 1);
}

.group_title_happy {
    border-bottom: 4px solid rgba(168, 209, 120, 0.6);
}

.group_title_victory {
    border-bottom: 4px solid rgba(255, 183, 143, 0.6);
}

.group_title_character {
    border-bottom: 4px solid rgba(228, 231, 71, 0.6);
}

.group_title_sorrow {
    border-bottom: 4px solid rgba(143, 168, 255, 0.6);
}

.group_title_text {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-size: 20px;
    padding: 0 0 8px 24px;
}

.group_title_button {
    width: 20px;
	height: 30px;
	margin: 0;
	display: block;
	text-align: center;
	line-height:0; 
	position: relative;
}

.group_title_button::before{
	display: block;
	content: "";
	position: absolute;
	top:0; 
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	width: 20px;
	height: 2px;
	background-color: #40180A;
	transition: .2s;
	transform: rotate(90deg);
}

.group_title_button::after{
	display: block;
	content: "";
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 20px;
	height: 2px; 
	background-color: #40180A;
	transition: .3s;
}

.group_title_button.on:before{
	transform: rotate(0deg);
}

.group_title_button.on:after{
	background-color: transparent;
}

.calendar-container {
  /* width: 500px; */
  /* margin: 0 auto; */
  /* border-radius: 5px; */
  background: #f6f5f4;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
}

.calendar {
    padding: 15px 30px 30px 30px;
    /* margin: 0 auto; */
    /* display: block; */

}

.date {
    text-align: center;
    padding: 10px;
    font-family: 'Noto Sans JP';
}

.calender_detail_img {
    width: 100%;
    display: block;
}

.calender_detail_summary {
    background-color: rgba(124, 142, 122, 0.8);
}

.calender_detail_summary_title {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-size: 24px;
    color: white;
    padding: 8px 0 8px 16px;
}

.calender_detail_summary_caption {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding: 0 0 8px 16px;
}

.calender_detail_summary_lead_logo {
    display: flex;
    justify-content: end;
    align-items: center;
}


.calender_detail_summary_lead {
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-size: 12px;
    color: white;
    padding: 0 8px 16px 16px;
}

.calender_detail_summary_logo {
    padding: 0 16px 16px 0;
}