<footer id="js-sw-Footer" class="sw-Footer">
  <div class="sw-Container_Inner">
    <div class="sw-Footer_Inner">
      <div class="sw-FooterHeader">
        <h3 class="sw-FooterHeader_Heading">
          <span class="sw-FooterHeader_HeadingBody">言葉に花を添えて</span>
          <span class="sw-FooterHeader_HeadingImgContainer">
            <img id="js-sw-FooterHeader_HeadingImg" class="sw-FooterHeader_HeadingImg sw-Image-w-fluid">
          </span>
        </h3>
      </div><!-- /.sw-Footer_Header -->
      <div class="sw-FooterContents">
        <ul class="sw-FooterList">
          <li class="sw-FooterList_Item">
            <a class="sw-FooterList_Link" href="/words">花言葉</a>
          </li>
          <li class="sw-FooterList_Item">
            <a class="sw-FooterList_Link" href="/birthday">誕生花</a>
          </li>
          <li class="sw-FooterList_Item">
            <a class="sw-FooterList_Link" href="/present">花を贈る</a>
          </li>
          <!--
          <li class="sw-FooterList_Item">
            <a class="sw-FooterList_Link" href="/search">花を検索</a>
          </li>
          -->
        </ul><!-- /.sw-FooterList -->
      </div><!-- /.sw-FooterContents-->
      <div class="sw-FooterTitle">
        <p class="sw-FooterTitle_Text">絵画で花を学ぶ</p>
      </div><!-- /.sw-FooterTitle -->
    </div><!-- /.sw-Footer_Inner -->
  </div><!-- /.sw-Container_Inner -->
</footer><!-- /.sw-Footer -->