<header id="js-sw-Header" class="header">
  <div class="logo">
    <a class="header_wrap_logo" href="/">
      <img class="js-sw-Header_LogoImg header_wrap_logo_img" alt="Flower Art 絵画と花をつなげて学ぶ">
    </a>
  </div>

  <!-- ハンバーガーメニュー部分 -->
  <div class="nav">
    <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
    <input id="drawer_input" class="drawer_hidden" type="checkbox">

    <!-- ハンバーガーアイコン -->
    <label for="drawer_input" class="drawer_open"><span></span></label>

    <!-- メニュー -->
    <nav class="nav_content">
      <div class="header_logo">
        <a class="header_logo_link">
          <img class="js-sw-Header_LogoImg wrap_logo_img" alt="Flower Art 絵画と花をつなげて学ぶ">
        </a>
      </div>
      <ul class="nav_list">
        <li class="nav_item"><a class="nav_item_link" href="/words">花言葉</a></li>
        <li class="nav_item"><a class="nav_item_link" href="/birthday">誕生花</a></li>
        <li class="nav_item"><a class="nav_item_link" href="/present">花贈り</a></li>
      </ul>
    </nav>
  </div>
</header>